@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply sm:max-w-[768px] md:max-w-[1440px];
  }
}


#__next,
body {
  @apply h-full;
}
.cryptoTable {
  @apply grid grid-cols-[1fr_auto] md:grid-cols-[60px_2fr_1fr_1fr_80px] lg:grid-cols-[100px_2fr_1fr_1fr_100px]
}



.opacity-mask {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

@layer utilities {
  .bg-gradient-newsletter {
    background-image: linear-gradient(
      97.85deg,
      #fbab34 -5.87%,
      #ad721a 118.06%
    );
  }

  .coin-carrousel-opacity-mask {
    --padding-x: 16px;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) var(--padding-x),
      rgba(0, 0, 0, 1) calc(100% - var(--padding-x)),
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) var(--padding-x) calc(100% - var(--padding-x)),
      rgba(0, 0, 0, 0) 100%
    );
  }
}

html {
  @apply h-full scroll-smooth text-base font-normal text-body;
}


